.merged-container{
    display: flex;
    
    box-sizing: border-box;
    min-height: 100vh;
}
.filtercomponent{
  width:15vw;
  padding: 2vmax ;
  box-sizing: border-box;
  
  border-right: 1px solid rgb(219, 206, 206);

}
.productMainContainer{
    display: flex;
    flex-direction: column;
    width: 85vw;
    box-sizing: border-box;
} 
.product-Container{
    display: flex;
    flex-wrap: wrap;
    padding: 4vmax;
    justify-content: center;
}
.categories{
    list-style: none;
    color: rgb(126, 111, 111);
    font: 400 .9vmax sans;
}
.li-items:hover{
    cursor: pointer;
    color: black;
}
.pagination{
    display: flex;
    justify-content: center;
}